<launch>

  <node pkg="socketcan_bridge" type="topic_to_socketcan_node" name="topic_to_">
    <param name="can_device" value="can0" />
  </node>
  <node pkg="rpi_driver" type="steering_can_node" name="steering_can_node" />
  <node pkg="rpi_driver" type="accel_driver_node" name="accel_driver_node" />
  <node pkg="rpi_driver" type="brake_enc_node" name="brake_enc_node" />
  <node pkg="rpi_driver" type="brake_driver.py" name="brake_driver_node" />
 
</launch>